{% extends 'registration/base_registration.html' %}
{% load static %}
{%block form %}
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Ingrese su nueva contraseña</p>

        <form method="post">
            {%csrf_token%}
            <div class="input-group mb-3">
                <input type="password" id="id_new_password1" name="new_password1" class="form-control"
                       placeholder="Contraseña nueva">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="id_new_password2" name="new_password2" class="form-control"
                       placeholder="Contraseña nueva (Confirmacion)">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Cambiar contraseña</button>
            </div>
        </form>


        <!--            <p class="mb-1 text-center">-->
        <!--                <a href="forgot-password.html">¿Olvido su contraseña?</a>-->
        <!--            </p>-->

    </div>
    <!-- /.login-card-body -->
</div>
{%endblock%}
