{% extends 'core/base/base.html' %}
{%load static%}
{% block extra_css %}
<!--datetimepicker-->
<link rel="stylesheet" href="{% static 'lib/bootstrap-datetimepicker/css/bootstrap-datepicker.standalone.css'%} ">
<!--DataTable-->
<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">

{%endblock%}

{% block content %}
<style>
    #options{
         display:block;
         padding:10px;
         margin:10px;
    }

</style>

<div class="card-body">
    <div class="col-md-12 row">
        <div class="col-md-4">
            Desde:
            <input type="text" name="f1" id="f1" class="form-class" readonly>
        </div>
        <div class="col-md-4">
            Hasta:
            <input type="text" name="f2" id="f2" class="form-class" readonly>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning" id="report">Generar reporte</button>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <a href="{% url 'create_shipping' %}" class="btn btn-success mb-3"><i class="fa fa-plus"></i> Agregar nuevo
            envío</a>
    </div>
</div>
<table id="example" data-search="true" data-pagination="true"
data-show-fullscreen="true" data-show-export="true"
data-data-type="text" data-cache="true" data-cookie-id-table="saveId">
    <thead>
        <tr>
            <th id="id_table" data-field="id" data-sortable="true"
                data-sort-name="id" data-sort-order="desc">Id</th>
            <th>Consecutivo</th>
            <th>Cliente</th>
            <th>T.Documento</th>
            <th>Documento</th>
            <th>N.Guia</th>
            <th>Direccion</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Empresa</th>
            <th>F.envio</th>
            <th>Estado</th>
            <!--        <th data-field="photo">Foto</th>-->
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {%for envio in envios %}
            <tr>
                <td>{{envio.id}}</td>
                <td>{{envio.consecutivo}}</td>
                <td>{{envio.cust.name}}</td>
                <td>{{envio.c_Tdocument}}</td>
                <td>{{envio.c_document}}</td>
                <td>{{envio.shipping_number}}</td>
                <td>{{envio.c_address}}</td>
                <td>{{envio.departamento.nombre}}</td>
                <td>{{envio.municip.nombre}}</td>
                <td>{{envio.c_phone}}</td>
                <td>{{envio.c_cel}}</td>
                <td>{{envio.s_company}}</td>
                <td>{{envio.send_date}}</td>
                <td>{{envio.status}}</td>
                <td>
                    <div class=row id=options>
                        <a href="/shipping/{{envio.id}}/" class="btn btn-warning mr-1">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                        <a onclick="confirmacion({{envio.id}})" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/create/pdf/{{envio.id}}/" class="btn btn-primary ml-1">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>

<!--Modal for list extra data -->
<div class="modal" id="extraTable" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Info envio</font></font></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">×</font></font></span>
                </button>
            </div>

            <div class="modal-body">
                <table id="" class="table">

                    <thead>
                    <tr>
                        <th>Fecha de envio</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="datosextra">

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block extra_js%}
<script src="{% static 'js/functions.js' %}"></script>
<!--datetimepicker-->
<script src="{% static 'lib/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js' %}"></script>
<!--Datetable-->
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/cookie/bootstrap-table-cookie.min.js"></script>

<script>
$(document).ready(function(){
    var $table = $('#example')
    $table.bootstrapTable()

    $("#f1,#f2").datepicker({
        language: "es",
        todayBtn: "linked",
        format: "yyyy-mm-dd",
        todayHighlight: true,
    });

    $("#report").on('click', function (e){
        e.preventDefault();
        var f1,f2;
        f1 = $("#f1").val();
        f2 = $("#f2").val();

        if(f1=="" || f1 == null){
            var d = new Date();
            var f1 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();

        }
        if(f2=="" || f2 == null){
            var d = new Date();
            var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
        }
        var url = "/reporte/"+ f1 + "/" + f2;
        window.open(url);
    });



});



</script>

{%endblock%}